*

!.gitignore

!.vimrc
!.vim/
!.bashrc
!.bash_aliases
!.profile

!.config/autostart
!.config/dunst/
!.config/flameshot/
!.config/gotop
!.config/gtk-3.0
!.config/i3/
!.config/i3status
!.config/neofetch
!.config/powerline-go
!.config/rofi
!.config/termite
!.config/vifm
